.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

.pagingBtn{
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
  background-color: gray;
  color: white;
  font-size: 1rem;
}

.pagingBtn:hover{
  background-color: black;
  cursor: pointer;
}

.pagingBtn:focus{
  background-color: black;
}